/* font styling */
.roboto-mono-reguler {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 1.3rem;
  line-height: 1.4;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1a191d;
}

a {
  color: white;
}

a.text-lightseagreen {
  color: lightseagreen;
}

a:hover {
  color: #5eead4;
}

a.larger {
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

a.larger:hover {
  display: inline-block;
  /* font-weight: 600; */
  transform: scale(1.05);
}

.hero a {
  display: inline-block;
  font-weight: 600;
}

.hero h1 {
  font-size: 5vw;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.hero p {
  font-size: 2vw;
  font-weight: 500;
}

/* end font styling */

::-webkit-scrollbar {
  width: 0px;
}

.light {
  position: fixed;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  box-shadow: 0 0 9999px 200px rgba(255, 255, 255, 0.1);
  pointer-events: none;
  z-index: -9999;
  transition: box-shadow 0.3s ease;
}

.hero {
  position: relative;
  background: url("/assets/img/bg.jpg") no-repeat center center;
  color: white;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  animation: zoomBackground 20s ease infinite;
}

@keyframes zoomBackground {
  0% {
    background-size: 110%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 110%;
  }
}

@media (max-width: 1000px) {
  .hero {
    animation: none;
  }
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1a191d 100%);
  z-index: 1;
}

.hero p span {
  border-right: 3px solid white;
  animation: cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1,
.hero a,
.hero p {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

section {
  padding-top: 5rem;
  color: #fefefe;
}

section#about {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 80%, #1a191d 100%);
}

button {
  border-radius: 0;
}

#project .card {
  background-color: rgba(136, 136, 136, 0.1);
  color: white;
  overflow: hidden;

  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-wrapper {
  position: relative;
  height: 30px;
  overflow: hidden;
}

.btn-text,
.btn-hover-text {
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
}

.btn-hover-text {
  transform: translateY(100%);
  opacity: 0;
}

.btn-text {
  transform: translateY(0);
}

.card:hover .btn-text {
  transform: translateY(-100%);
  opacity: 0;
}

.card:hover .btn-hover-text {
  transform: translateY(0);
  opacity: 1;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card-title {
  font-weight: 700;
  font-size: 1rem;
}

.card-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;

  -webkit-line-clamp: 2; /* For WebKit-based browsers */
  line-clamp: 2;

  -webkit-box-orient: vertical; /* For WebKit-based browsers */
  box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
}

section#contact {
  background-color: black;
  padding-top: 4rem;
  margin-bottom: 0;
  margin-top: 4rem;
}

footer p {
  margin-bottom: 0;
  padding: 0 0 1rem;
}

#quoteCarousel .carousel-inner {
  margin-bottom: 1rem;
}
#quoteCarousel .carousel-item p {
  font-style: italic;
  transition: opacity 0.6s ease;
  height: 5rem;
}

/* Responsivitas */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 6vw;
  }
  .hero p {
    font-size: 3vw;
  }
  .light {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 8vw;
  }
  .hero p {
    font-size: 4vw;
  }
  .hero a {
    font-size: 4vw;
  }
}
