/* font styling */
.roboto-mono-reguler {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 1.3rem;
  line-height: 1.4;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1a191d;
}

a {
  color: white;
}

a.text-lightseagreen {
  color: lightseagreen;
}

a:hover {
  color: lightgrey;
}

a.larger {
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

a.larger:hover {
  display: inline-block;
  /* font-weight: 600; */
  transform: scale(1.05);
}

.hero h1 {
  font-size: 5vw;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.hero p {
  font-size: 2vw;
  font-weight: 500;
}

.hero p span {
  border-right: 3px solid white;
  animation: cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 6vw;
  }
  .hero p {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 8vw;
  }
  .hero p {
    font-size: 4vw;
  }
  .hero a {
    font-size: 4vw;
  }
}

/* end font styling */

::-webkit-scrollbar {
  width: 0px;
}

.hero {
  position: relative;
  background: url("https://img.freepik.com/premium-photo/abstract-bokeh-light-background_161362-45173.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 100vh;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1a191d 100%);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

section {
  padding-top: 5rem;
  color: #fefefe;
}

button {
  border-radius: 0;
}

.card {
  background-color: rgba(136, 136, 136, 0.06);
  color: white;
  overflow: hidden;
}

.btn-wrapper {
  position: relative;
  height: 30px;
  overflow: hidden;
}

.btn-text,
.btn-hover-text {
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 0.4s ease;
}

.btn-hover-text {
  transform: translateY(100%);
  opacity: 0;
}

.btn-text {
  transform: translateY(0);
}

.card:hover .btn-text {
  transform: translateY(-100%);
  opacity: 0;
}

.card:hover .btn-hover-text {
  transform: translateY(0);
  opacity: 1;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card-title {
  font-weight: 700;
  font-size: 1rem;
}

.card-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;

  -webkit-line-clamp: 2; /* For WebKit-based browsers */
  line-clamp: 2; /* Standard property */

  -webkit-box-orient: vertical; /* For WebKit-based browsers */
  box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ccc;
}

section#contact {
  background-color: black;
  padding-bottom: 1rem;
  padding-top: 4rem;
  margin-bottom: 0;
}

footer p {
  margin-bottom: 0;
  padding: 1.5rem 0 1rem;
}
